/* src/components/LoginPage/LoginPage.css */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/pexels-jplenio-1103970.jpg'); /* 배경 이미지 URL */
    background-size: cover;
    background-position: center;
  }
  .glass {
    width: 400px;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(1px) !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5) !important; /* hover 상태 유지 */
  }
  .card-container {
    width: 400px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0); /* 카드 배경에 투명도 추가 (불투명도) */
    padding: 20px;
    transition: transform 0.3s ease; /* 기울어지는 효과에 부드러운 전환 효과 추가 */
  }
  
  .card-container:hover {
    transform: rotate(-5deg); /* 카드가 기울어지도록 설정 */
  }